
.PostNavigation__Item {

  @media (width >= 48em) {
    &:only-of-type {
      max-width: 50%;
    }
  }

  &:hover svg {
    animation: ghostArrow 300ms ease-out;
  }
}


@keyframes ghostArrow {
  50% {
    filter: drop-shadow(var(--direction, -10px) 0 0 var(--accent-color));
  }
}
