---
layout: page
title: Blog
---
{% from "postItem.njk" import postItem %}

{% set postList = posts %}
{% if postList.length %}
  <section css-module="PostList">
    <ol reversed>
      {% for item in postList %}
        {% if not loop.first %}
          <hr/>
        {% endif %}
        {{ postItem(item.slug, item.title, item.date) }}
      {% endfor %}
    </ol>
  </section>
{% endif %}
