---
metaTitle: Mattia Astorino
metaDesc: UX Engineer in Milan and member of Open Source Design.
---
{% extends 'layouts/page.njk' %}
{% from "post-list.njk" import postList %}

{% block leftContent %}
  <p style="--max-w-md:32ch; --min-h-md:100px">I’m Mattia Astorino. I work as <em style="--color:var(--contrast-color); --font-style:inherit;">UX Engineer</em>, <em style="--color:var(--contrast-color); --font-style:inherit;">designer</em> and <em style="--color:var(--contrast-color); --font-style:inherit;">open source developer</em>. Photographer in my spare time.</p>
  {% include "./components/socials.njk" %}
{% endblock leftContent %}

{% block rightContent %}
  {{ postList(collections.posts) }}
{% endblock rightContent %}
